.nav {
  background: -webkit-linear-gradient(left, #1a1a1d, #00c6ff);
}

.dropdown-content {
  display: block;
}
.navbutton {
  background: -webkit-linear-gradient(left, #1a1a1d, #00c6ff);
  border: none;
}

.item {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.dropbtn {
  border: none;
  list-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.dropdown {
  margin-top: 8.5px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
  background: -webkit-linear-gradient(left, #1a1a1d, #00c6ff);
  color: rgb(58, 63, 114);
}
.dropdown-content a:hover {
  color: rgb(58, 63, 114);
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 637px) and (min-width: 400px) {
  .dropdown-content {
    margin-left: 200px;
  }
}
@media (max-width: 990px) and (min-width: 637px) {
  .form {
    margin-left: 150px;
  }

  .dropdown-content {
    margin-left: 400px;
  }
}
