.container{
    padding: 20px;
}

/* .imageCont img {
    max-width: 100%;
} */
.head{
    padding-top: 100px;
}
.freeRegister{
    text-decoration: none;
    background-color: -webkit-linear-gradient(left, #1A1A1D, #00c6ff);
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: -webkit-linear-gradient(left, #1A1A1D, #00c6ff);
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;


}

.what{
    margin-top:70px;
}

.text{
    margin-top: 20px;
}
.plan{
    padding-top: 120px;
    padding-left: 50px ;

}
