.footer {
  /* background: -webkit-linear-gradient(left, #1A1A1D, #00c6ff); */
  margin: 0;
  display: flex;
}
.foot {
  color: rgb(12, 12, 71);
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
}
.icons {
  margin-top: 8px;
  color: rgb(12, 12, 71);
}
.facebook {
  margin-left: 700px;
}
.linkedin,
.twitter,
.github {
  margin-left: 10px;
}
.terms {
  margin-top: 7px;
  margin-left: 20px;
}
